<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qas.web.mappers.BoardMapper">
    <insert id="save" parameterType="com.qas.web.domains.Board">
        insert into board (title, content, create_date, update_date, view, user_idx)
        values(#{title}, #{content}, now(), now(), 0, 1)
    </insert>

    <select id="findAll" resultType="com.qas.web.domains.Board">
        select post_idx as postIdx, title, content, view, update_date as updateDate
        from board
    </select>

    <select id="findOne" resultType="com.qas.web.domains.Board"
            parameterType="int">
        select *
        from board
        where post_idx = #{postIdx}
    </select>

    <select id="findTitle" parameterType="string" resultType="com.qas.web.domains.Board">
        select post_idx as postIdx, title, content, view, update_date as updateDate
        from board
        where title like CONCAT('%',#{title},'%')
    </select>

    <update id="plusCount" parameterType="int">
        update board
        set view = view + 1
        where post_idx = #{postIdx}
    </update>

    <update id="update"
            parameterType="com.qas.web.domains.Board">
        update board
        set title = #{title}, content = #{content},
        update_date = now()
        where post_idx = #{postIdx}
    </update>

    <delete id="deleteAll" parameterType="int">
        delete from board
        where post_idx = #{postIdx}
    </delete>
</mapper>